// Variables
$font-color: #000;
$main-font: 'Open Sans',
sans-serif;
$ux: 1vw;
$uy: 1vh;
$shadows: 0 0.2*$ux 0.2*$ux rgba(0, 0, 0, 0.1);
* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: fit-content;
    min-height: 80*$uy;
    padding: 2*$uy;
}

.tabs {
    display: block;
    width: fit-content;
}

img {
    object-fit: cover;
    width: 100%;
    height: 80*$uy;
    opacity: 0.5;
    border-radius: 0.4*$ux;
}

.nav {
    width: 10vw;
    display: grid;
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: black;
    box-shadow: $shadows;
    border-radius: 0.8vw;
    padding: 2vw 0;
    vertical-align: middle;
    gap: 10px;
    &:hover {
        cursor: pointer;
    }
    opacity: 0.6;
    z-index: 1;
    .line {
        background-color: #d7e1ec;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: 0.6vw;
    }
}

@mixin text-size($title-size, $cover-size, $font-size, $line-height, $footer-size) {
    body {
        visibility: hidden;
        background: linear-gradient(#ffffff, #d7e1ec);
        #loader {
            visibility: visible;
            position: fixed;
            margin: 42*$uy 42*$ux;
            font-family: $main-font;
            font-size: $font-size;
            font-weight: 700;
            color: white;
            text-shadow: $shadows;
        }
    }
    .content {
        width: 90*$ux;
        height: fit-content;
        min-height: 60*$uy;
        background: white;
        color: $font-color;
        font-family: $main-font;
        font-size: 0.8*$font-size;
        line-height: $line-height;
        border-radius: 0.4*$ux;
        box-shadow: $shadows;
        padding: 4*$ux;
        .startC {
            display: none;
        }
    }
    .coverText {
        position: absolute;
        top: (100%/2)-(25%);
        left: 10vw;
        font-family: $main-font;
        .title {
            font-size: $title-size;
            color: $font-color;
            font-weight: 800;
        }
        .coverP {
            font-size: $cover-size;
            line-height: $line-height;
            width: 60*$ux;
        }
    }
    .button {
        display: flex;
        width: 10*$ux;
        height: 4*$ux;
        border-radius: 0.4*$ux;
        background-color: white;
        margin: 2*$ux 1*$ux;
        font-size: 0.8*$font-size;
        font-family: $main-font;
        align-items: center;
        justify-content: center;
        box-shadow: $shadows;
        &:hover {
            cursor: pointer;
        }
    }
    .footer {
        display: flex;
        font-family: $main-font;
        font-size: $footer-size;
        justify-content: space-around;
        width: 99%;
        height: 6*$uy;
        background: #ffffff;
        box-shadow: $shadows;
        padding: 0.5*$ux;
        align-items: center;
    }
}

.tabs_2 {
    display: none;
    background-color: #d7e1ec;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    position: fixed;
    top: 0;
    .button_2 {
        display: block;
        width: 20vw;
        height: 20vw;
        margin: 5vw;
        line-height: 20vw;
        font-family: $main-font;
        font-size: 3.3vw;
        background-color: #ffffff;
        box-shadow: $shadows;
        border-radius: 0.5vw;
        text-align: center;
    }
}

.show {
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
    animation-name: nav;
    animation-duration: 0.15s;
}

.scrolls {
    overflow-x: hidden;
    overflow-y: hidden;
}

@media (min-width: 769px) and (orientation: landscape) {
    @include text-size(4.9vw, 1vw, 1.4vw, 4vh, 0.8vw);
    .nav {
        display: none;
    }
    .tabs_2 {
        display: none;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    @include text-size(6.8vw, 3vw, 4vw, 8vh, 1.6vw);
    .coverP {
        visibility: hidden;
    }
    .tabs {
        display: none;
    }
}

@keyframes nav {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}