<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="../sass/style.css">
</head>
<div id="loader">
    Cargando
</div>

<body>

    <div class="container">
        <img src="../portada.jpg" alt="Businessman">
        <div class="coverText">
            <div class="title">Lorem Ipsum</div>
            <div class="coverP">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non quidem repellendus nulla blanditiis autem corrupti cumque porro nobis architecto? Ab similique iste ex porro mollitia ipsa quibusdam quidem. Illum eum exercitationem animi esse
                dolor eligendi, accusamus, veritatis corrupti architecto hic commodi debitis minus. Sapiente explicabo, inventore nulla adipisci, voluptatum architecto facilis dolore libero totam possimus dicta hic ducimus similique sunt.</div>
        </div>

    </div>
    <div class="container">
        <div class="tabs">
            <div class="button" onclick="seeInicio()">Inicio</div>
            <div class="button" onclick="seeServicios()">Servicios</div>
            <div class="button" onclick="seeEstrategias()">Estrategias</div>
            <div class="button" onclick="seeClientes()">Clientes</div>
            <div class="button" onclick="seeContactenos()">Contáctenos</div>
        </div>
        <div class="content">
            <div id="startC">
                <h2>Inicio</h2><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel vitae facilis nihil, animi eum laboriosam pariatur sequi ipsum molestias voluptatum dicta dolorem illo, sunt magni? Minus quod vero adipisci nam! Magnam molestiae
                placeat eligendi est unde laudantium similique harum, error ipsa enim eius non alias porro minima voluptatem ratione eveniet soluta sunt ut optio, libero quia quaerat explicabo veritatis! Laborum iste dolore perferendis voluptates rerum!
                Ipsam, inventore, nam, facere consectetur animi deserunt voluptate amet sequi exercitationem cupiditate impedit quidem odio quia. Facilis hic velit odio praesentium dolore modi consectetur corporis provident, quaerat commodi deserunt molestias
                consequatur dignissimos! Dicta omnis magnam delectus expedita impedit voluptatum voluptas, aspernatur odio numquam amet tenetur architecto, atque perferendis provident officiis, qui sequi! Error, sapiente ducimus accusantium incidunt ad
                rem minus exercitationem ipsa vero debitis pariatur odio obcaecati doloremque quo, mollitia eum. Perferendis distinctio incidunt natus ad omnis, a corrupti maxime placeat sapiente cupiditate. Cumque, fuga, repellat esse ex maiores voluptates,
                laboriosam est nostrum ut illo error aspernatur cupiditate facere blanditiis doloribus? Sequi est id quaerat explicabo recusandae molestias, voluptatum harum, consectetur nobis cumque, cupiditate autem. Animi, neque sapiente placeat libero
                porro reprehenderit. Ratione quasi possimus expedita atque nulla, optio aliquam, velit tempora nam minima magnam!
            </div>
            <div id="services">
                <h2>Servicios</h2><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel vitae facilis nihil, animi eum laboriosam pariatur sequi ipsum molestias voluptatum dicta dolorem illo, sunt magni? Minus quod vero adipisci nam! Magnam molestiae
                placeat eligendi est unde laudantium similique harum, error ipsa enim eius non alias porro minima voluptatem ratione eveniet soluta sunt ut optio, libero quia quaerat explicabo veritatis! Laborum iste dolore perferendis voluptates rerum!
                Ipsam, inventore, nam, facere consectetur animi deserunt voluptate amet sequi exercitationem cupiditate impedit quidem odio quia. Facilis hic velit odio praesentium dolore modi consectetur corporis provident, quaerat commodi deserunt molestias
                consequatur dignissimos! Dicta omnis magnam delectus expedita impedit voluptatum voluptas, aspernatur odio numquam amet tenetur architecto, atque perferendis provident officiis, qui sequi! Error, sapiente ducimus accusantium incidunt ad
                rem minus exercitationem ipsa vero debitis pariatur odio obcaecati doloremque quo, mollitia eum. Perferendis distinctio incidunt natus ad omnis, a corrupti maxime placeat sapiente cupiditate. Cumque, fuga, repellat esse ex maiores voluptates,
                laboriosam est nostrum ut illo error aspernatur cupiditate facere blanditiis doloribus? Sequi est id quaerat explicabo recusandae molestias, voluptatum harum, consectetur nobis cumque, cupiditate autem. Animi, neque sapiente placeat libero
                porro reprehenderit. Ratione quasi possimus expedita atque nulla, optio aliquam, velit tempora nam minima magnam!
            </div>
            <div id="strategies">
                <h2>Estrategias</h2><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel vitae facilis nihil, animi eum laboriosam pariatur sequi ipsum molestias voluptatum dicta dolorem illo, sunt magni? Minus quod vero adipisci nam! Magnam
                molestiae placeat eligendi est unde laudantium similique harum, error ipsa enim eius non alias porro minima voluptatem ratione eveniet soluta sunt ut optio, libero quia quaerat explicabo veritatis! Laborum iste dolore perferendis voluptates
                rerum! Ipsam, inventore, nam, facere consectetur animi deserunt voluptate amet sequi exercitationem cupiditate impedit quidem odio quia. Facilis hic velit odio praesentium dolore modi consectetur corporis provident, quaerat commodi deserunt
                molestias consequatur dignissimos! Dicta omnis magnam delectus expedita impedit voluptatum voluptas, aspernatur odio numquam amet tenetur architecto, atque perferendis provident officiis, qui sequi! Error, sapiente ducimus accusantium
                incidunt ad rem minus exercitationem ipsa vero debitis pariatur odio obcaecati doloremque quo, mollitia eum. Perferendis distinctio incidunt natus ad omnis, a corrupti maxime placeat sapiente cupiditate. Cumque, fuga, repellat esse ex
                maiores voluptates, laboriosam est nostrum ut illo error aspernatur cupiditate facere blanditiis doloribus? Sequi est id quaerat explicabo recusandae molestias, voluptatum harum, consectetur nobis cumque, cupiditate autem. Animi, neque
                sapiente placeat libero porro reprehenderit. Ratione quasi possimus expedita atque nulla, optio aliquam, velit tempora nam minima magnam!
            </div>
            <div id="costumers">
                <h2>Clientes</h2><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel vitae facilis nihil, animi eum laboriosam pariatur sequi ipsum molestias voluptatum dicta dolorem illo, sunt magni? Minus quod vero adipisci nam! Magnam molestiae
                placeat eligendi est unde laudantium similique harum, error ipsa enim eius non alias porro minima voluptatem ratione eveniet soluta sunt ut optio, libero quia quaerat explicabo veritatis! Laborum iste dolore perferendis voluptates rerum!
                Ipsam, inventore, nam, facere consectetur animi deserunt voluptate amet sequi exercitationem cupiditate impedit quidem odio quia. Facilis hic velit odio praesentium dolore modi consectetur corporis provident, quaerat commodi deserunt molestias
                consequatur dignissimos! Dicta omnis magnam delectus expedita impedit voluptatum voluptas, aspernatur odio numquam amet tenetur architecto, atque perferendis provident officiis, qui sequi! Error, sapiente ducimus accusantium incidunt ad
                rem minus exercitationem ipsa vero debitis pariatur odio obcaecati doloremque quo, mollitia eum. Perferendis distinctio incidunt natus ad omnis, a corrupti maxime placeat sapiente cupiditate. Cumque, fuga, repellat esse ex maiores voluptates,
                laboriosam est nostrum ut illo error aspernatur cupiditate facere blanditiis doloribus? Sequi est id quaerat explicabo recusandae molestias, voluptatum harum, consectetur nobis cumque, cupiditate autem. Animi, neque sapiente placeat libero
                porro reprehenderit. Ratione quasi possimus expedita atque nulla, optio aliquam, velit tempora nam minima magnam!
            </div>
            <div id="contactus">
                <h2>Contáctenos</h2><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel vitae facilis nihil, animi eum laboriosam pariatur sequi ipsum molestias voluptatum dicta dolorem illo, sunt magni? Minus quod vero adipisci nam! Magnam
                molestiae placeat eligendi est unde laudantium similique harum, error ipsa enim eius non alias porro minima voluptatem ratione eveniet soluta sunt ut optio, libero quia quaerat explicabo veritatis! Laborum iste dolore perferendis voluptates
                rerum! Ipsam, inventore, nam, facere consectetur animi deserunt voluptate amet sequi exercitationem cupiditate impedit quidem odio quia. Facilis hic velit odio praesentium dolore modi consectetur corporis provident, quaerat commodi deserunt
                molestias consequatur dignissimos! Dicta omnis magnam delectus expedita impedit voluptatum voluptas, aspernatur odio numquam amet tenetur architecto, atque perferendis provident officiis, qui sequi! Error, sapiente ducimus accusantium
                incidunt ad rem minus exercitationem ipsa vero debitis pariatur odio obcaecati doloremque quo, mollitia eum. Perferendis distinctio incidunt natus ad omnis, a corrupti maxime placeat sapiente cupiditate. Cumque, fuga, repellat esse ex
                maiores voluptates, laboriosam est nostrum ut illo error aspernatur cupiditate facere blanditiis doloribus? Sequi est id quaerat explicabo recusandae molestias, voluptatum harum, consectetur nobis cumque, cupiditate autem. Animi, neque
                sapiente placeat libero porro reprehenderit. Ratione quasi possimus expedita atque nulla, optio aliquam, velit tempora nam minima magnam!
            </div>
        </div>

    </div>
    <div class="footer">
        <a>Celular: 300 0000000</a>
        <a>Correo: xxx@xxx.xxx</a>
        <a>Dirección: xxxxxxxxxx</a>
    </div>

</body>
<script src="../js/scripts.js"></script>

</html>